html {
  font-family: 'Courier New', 'Ariel', 'Sans-Serif';
}

body {
  margin: 60px;
}

p {
  line-height: 1.4em;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

nav ul, footer ul {
  padding: 10px;
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.blurb {
  background: url("/assets/images/food-bowl.jpg");
  background-size: 100%;
  padding: 10px 10px 10px 20px;
  color: #f2f2f2;
}
